.body {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding-top: 48px;
}

.mainContent {
  width: 100%;
  margin: 0 auto;
  padding: 20px 24px 24px;
}

.copyright {
  font-size: 14px;
  color: #00000073;
  text-align: center;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 9999;
}
