.filterAction {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  padding-left: 16px;
  margin-left: 16px;
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
